.matches-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.matches-container article {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
  margin-top: 50px;
}

.matches-container article a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.matches-container article a footer {
  flex: 1;
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 15px 20px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}

.matches-container article a footer strong {
  font-size: 16px;
  color: #333;
}

.matches-container article a footer strong span {
  font-size: 12px;
  margin-left: 5px;
  color: #aaa;
}

.matches-container article a footer p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  margin-top: 5px;
}

.matches-container article img {
  max-width: 100%;
  height: 40vh;
  border-radius: 5px 5px 0 0;
}

.matches-container .empty-matches {
  font-size: 32px;
  color: #999;
  font-weight: bold;
  height: 100%;
  margin-top: 100px;
}

@media (max-width: 900px) {
  .matches-container article {
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
  }
}

@media (max-width: 414px) {
  .matches-container article {
    grid-template-columns: 1fr;
  }
}