.main-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.main-container ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}

.main-container ul li {
  display: flex;
  flex-direction: column;
}

.main-container ul li .photos {
  max-width: 100%;
  height: 40vh;
  border-radius: 5px 5px 0 0;
}

.main-container ul li footer {
  flex: 1;
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 15px 20px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}

.main-container ul li footer strong {
  font-size: 16px;
  color: #333;
}

.main-container ul li footer strong span {
  font-size: 12px;
  margin-left: 5px;
  color: #aaa;
}

.main-container ul li footer p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  margin-top: 5px;
}

.main-container ul li .buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.main-container ul li .buttons button {
  height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 4px;
  background-color: #FFF;
  cursor: pointer;
  transition: all .2s;
}

.main-container ul li .buttons button:hover {
  transform: translateY(-5px);
}

.main-container .empty {
  font-size: 32px;
  color: #999;
  font-weight: bold;
  height: 100%;
  margin-top: 100px;
}

@media (max-width: 900px) {
  .main-container ul {
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
  }
}

@media (max-width: 414px) {
  .main-container ul {
    grid-template-columns: 1fr;
  }
}