.page-404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.page-404-header {
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
}

.page-404-header h1 {
  font-size: 140px;
  color: #DF4723;
  font-weight: bold;
}

.page-404-header h3 {
  color: #777;
  font-size: 25px;
}

.page-404-description {
  max-width: 700px;
  line-height: 30px;
  color: #777;
  font-size: 18px;
}

.page-404-description code {
  font-size: 16px;
  background-color: #333;
  padding: 3px 5px;
  border-radius: 5px;
  color: yellow;
}

.go-back {
  margin-top: 5vh;
  color: #DF4723;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.go-back:active {
  color: #ff0000
}

@media (max-width: 800px) {
  .page-404-container {
    padding: 10px;
  }

  .page-404-header {
    grid-template-columns: 1fr;
  }
}